<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wafer Fault Detection</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <form action="/predict" method="post" enctype="multipart/form-data">
    <h1 class="title">Upload CSV for the prediction</h1>
    <div class="frame">
      <div class="center">
        <div class="title">
          <h1>Drop file to upload</h1>
        </div>
        <div class="dropzone">
          <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
          <input type="file" class="upload-input" name="file" accept=".csv">
          <p id="file-name" style="margin-top: 10px; font-weight: bold; color: #333;"></p>
        </div>
        <button type="submit" class="btn" name="uploadbutton">Upload file</button>
      </div>
    </div>
  </form>
  <script>
    document.querySelector(".upload-input").addEventListener("change", function(event) {
      var fileInput = event.target;
      var fileName = fileInput.files.length > 0 ? fileInput.files[0].name : "No file chosen";
      document.getElementById("file-name").textContent = "Selected file: " + fileName;
    });
    
    document.querySelector("form").addEventListener("submit", function(event) {
      var fileInput = document.querySelector(".upload-input");
      if (!fileInput.files.length) {
        alert("Please upload a CSV file before submitting.");
        event.preventDefault(); // Stop form submission
      }
    });
  </script>
</body>
</html>
